{% extends "base.html" %}

{% block page-title %}<h1>Who are you?</h1><h2>What are you even doing here?</h2>{% endblock %}
{% block title %}Page not found{% endblock %}
{% block content %}
<h3>Whoa how did this happen?</h3>

<p>I'm not sure what happened but in a cruel twist of fate this page is not applicable for viewing. Either you've been bamboozled or there's something wrong with my site. If you feel this page should be working feel free to let me know at <a href="/contact">my contact page</a> or goto <a href="/">my home page</a> and start your travels over again. Good luck!</p>
{% endblock %}
