<section id="who-is-jay-zawrotny" class="welcome">
    <header><h4>Welcome</h4></header>
    <p>Web design and development immediately clicked very well with Jay Zawrotny at age 10. Now, more than ten years later he has spent his days designing, building, developing, and launching websites for clients of all sizes! Check out the video to learn more or read his personal blog on the industry.</p>
</section>
<section class="read-more">
<a href="/about"><span>Read More About Jay</span></a>
</section>
<section class="techskills">
    <header><h5>Familiar Technologies</h5></header>
    <ul>
        <li>PHP</li>
        <li>Ruby on Rails</li>
        <li>Python</li>
        <li>Apache</li>
        <li>NGINX</li>
        <li>HTML5 &amp; CSS3</li>
    </ul>
</section>
