<section id="connect" class="social-media">
    <header><h3>Get Connected</h3></header>
    <ul>
        <li><a class="email" href="/contact"><span>Email Jay Zawrotny</span></a></li>
        <li data-tooltip="JayByDesign"><a class="skype" href="skype:jaybydesign?userinfo"><span>JayByDesign</span></a></li>
        <li><a class="twitter" href="http://twitter.com/#!/JayZawrotny"><span>@JayZawrotny</span></a></li>
        <li><a class="gplus" href="http://jayzawrotny.com/+"><span>Jay Zawrotny on Google Plus</span></a></li>
        <li><a class="dribbble" href="http://dribbble.com/jayzawrotny"><span>Jay Zawrotny&rsquo;s Dribbble</span></a></li>
        <li><a class="forrst" href="http://forrst.me/JayZawrotny"><span>Jay Zawrotny at Forrst</span></a></li>
    </ul>
</section>
