{% extends "base.html" %}
{% block title %}Message Sent{% endblock %}
{% block page-title %}
<hgroup>
    <h1>Message Sent</h1>
    <h2>Thanks for your inquiry!</h2>
</hgroup>
{% endblock %}
{% block content %}
<section class="col-11">
Thanks for your email message. As you may or may not know I'm working 3 part-time jobs and full-time college so I may have times when I wont be able to respond to your message for a few days. Just note this is because I really am that busy not that your message isn't important to me because it certainly is!
<br />
<br />
Thanks,
<br />
Jay
</section>
{% endblock %}
